<!DOCTYPE html>
<html lang="en" ng-app="myResume">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <script src="assets/lib/angularjs/angular.min.js"></script>
        <script src="controller/index.js"></script>
        <title>Kittipat Metachoochok - Software Developer</title>
    </head>
    <body ng-controller="ResumeController as resume">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-circle center-block" src="assets/image/me.jpg" style="max-width: 150px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center position"><strong>Software Developer</strong></h3>
                    <h1 class="text-header name text-center">{{resume.name}} {{resume.lastName}}</h1>
                </div>
                <div class="col-md-12 text-center">
                    <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                    {{resume.contact.email}}
                    &nbsp;
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    {{resume.contact.mobilePhone}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    About Me
                </div>
                <div class="col-md-12">
                    <p>
                        I am 27 years old software developer base in Bangkok, Thailand.
                    </p>
                    <p>
                        I have strong passion in software development and exploring new technology. Software development and programming is my core skills.
                    </p>
                    <p>
                        At present, I am interested in Big Data and Data Science, and currently studying at Coursera, Udacity and edX.
                    </p>
                    <p>
                        Sample projects at <a href="https://github.com/MacKittipat?tab=repositories">https://github.com/MacKittipat?tab=repositories</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Skills
                </div>
                <div ng-repeat="ability in resume.abilities">
                    <div class="col-md-12 box-sub-topic">
                        <strong>{{ability.category}}</strong>
                    </div>
                    <div ng-repeat="skill in ability.skills" class="col-md-3">
                        {{skill}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Experiences
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    April 2011 - Present
                </div>
                <div class="col-md-8">
                    <div>
                        <strong>Java System Developer</strong>,
                        <a href="https://www.abctech-thailand.com/">ABC Tech Ltd.</a>
                    </div>
                    <div>
                        <p>
                            Client: <a href="http://www.amedia.no/">Amedia</a>, Norway’s largest publisher of local media titles.
                        </p>
                        <p>
                            Responsibilities:
                        </p>
                        <ul>
                            <li>
                                End-to-end development of software products in Norwegian market.
                                <ul>
                                    <li>
                                        Web application for managing subscription information for online newspaper in Norway.
                                    </li>
                                    <li>
                                        Web application for transforming advertisement file into standard format.
                                    </li>
                                    <li>
                                        SMS payment application.
                                    </li>
                                </ul>
                            </li>
                            <li>
                                Analyze software requirements and give recommendation to Team Leader and Product Owner in Norway.
                            </li>
                            <li>
                                Participate in code review and deliver the best possible code quality to the company.
                            </li>
                            <li>
                                Mentoring and coaching Junior Developer.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    April 2010 - May 2010
                </div>
                <div class="col-md-8">
                    <div>
                        <strong>Web Application Developer (Internship)</strong>, BEAM Enterprise Co., Ltd.
                    </div>
                    <div>
                        Develop and integrate web analytic to website
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    April 2009 - January 2011
                </div>
                <div class="col-md-8">
                    <div>
                        <strong>Freelance Programmer</strong>
                    </div>
                    <div>
                        Develop and maintain web application for clients
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Languages
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>
                            Thai ( Native )
                        </li>
                        <li>
                            English ( Professional working proficiency )
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Education
                </div>
                <div class="col-md-12">
                    B.Sc. Applied Computer Science, <br/>
                    Department of Mathematics, <br/>
                    Faculty of Science, <br/>
                    King Mongkut's University of Technology Thonburi (KMUTT) <br/>
                    <strong>Grade</strong> 3.38
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Certifications
                </div>
                <div class="col-md-12">
                    <ul>
                        <li ng-repeat="certificate in resume.certificates">
                            <a href="{{certificate.url}}">{{certificate.name}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row modal-footer">
                {{resume.name}} {{resume.lastName}} - {{resume.contact.email}}, {{resume.contact.mobilePhone}}
            </div>
        </div>
    </body>
</html>