<!DOCTYPE html>
<html lang="en" ng-app="myResume">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href='https://fonts.googleapis.com/css?family=Lora:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
        <link href="https://necolas.github.io/normalize.css/4.1.1/normalize.css" rel="stylesheet">
        <link href="assets/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="assets/css/style.css" rel="stylesheet">
        <script src="assets/lib/angularjs/angular.min.js"></script>
        <script src="controller/index.js"></script>
        <title>{{resume.name}} {{resume.lastName}}</title>
    </head>
    <body ng-controller="ResumeController as resume">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <img class="img-circle center-block" src="assets/image/me.jpg" style="max-width: 150px;" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-header text-center">{{resume.name}} {{resume.lastName}}</h1>
                    <div class="col-md-12">
                        <div class="text-center">
                            <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                            {{resume.contact.email}}
                            &nbsp;&nbsp;&nbsp;
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            {{resume.contact.mobilePhone}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    About Me
                </div>
                <div class="col-md-12">
                    <p>
                        I am 27 years old software developer base in Bangkok, Thailand.
                    </p>
                    <p>
                    I'm enthusiastic and passionate about software development.
                    I love programming and I like to learn new technology.
                    </p>
                    <p>
                    I am currently studying Big Data and Data Science from MOOC (Massive open online course) such as Coursera, Udacity and edX
                    </p>
                    <p>
                    You can see my projects at <a href="https://github.com/MacKittipat?tab=repositories">https://github.com/MacKittipat?tab=repositories</a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Skills
                </div>
                <div class="col-md-12 box-sub-topic">
                    <strong>{{resume.abilities[0].category}}</strong>
                </div>
                <div ng-repeat="skill in resume.abilities[0].skills" class="col-md-3">
                    {{skill}}
                </div>
                <div class="col-md-12 box-sub-topic">
                    <strong>{{resume.abilities[1].category}}</strong>
                </div>
                <div ng-repeat="skill in resume.abilities[1].skills" class="col-md-3">
                    {{skill}}
                </div>
                <div class="col-md-12 box-sub-topic">
                    <strong>{{resume.abilities[2].category}}</strong>
                </div>
                <div ng-repeat="skill in resume.abilities[2].skills" class="col-md-3">
                    {{skill}}
                </div>
                <div class="col-md-12 box-sub-topic">
                    <strong>{{resume.abilities[3].category}}</strong>
                </div>
                <div ng-repeat="skill in resume.abilities[3].skills" class="col-md-3">
                    {{skill}}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Languages
                </div>
                <div class="col-md-12">
                    <ul>
                        <li>
                            <strong>Thai</strong> ( Native or bilingual proficiency )
                        </li>
                        <li>
                            <strong>English</strong> ( Professional working proficiency )
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Education
                </div>
                <div class="col-md-12">
                    B.Sc. Applied Computer Science, <br/>
                    Department of Mathematics, <br/>
                    Faculty of Science, <br/>
                    King Mongkut's University of Technology Thonburi (KMUTT) <br/>
                    <strong>Grade</strong> 3.38
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 box-topic">
                    Experience
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 list-topic">
                    April 2011 - Present
                </div>
                <div class="col-md-8">
                    <div>
                        <strong>Java System Developer</strong>,
                        <a href="https://www.abctech-thailand.com/">ABC Tech Ltd.</a>
                    </div>
                    <div>
                        <ul>
                            <li>
                                Work with Norwegian colleague to developing and maintaining software for
                                managing user’s subscription information for online newspaper in Norway,
                                software for transforming advertisement file and SMS payment application.
                            </li>
                            <li>
                                Mentoring and coaching Junior System Developer.
                            </li>
                            <li>
                                Code review for improving code quality.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 list-topic">
                    April 2010 - May 2010
                </div>
                <div class="col-md-8">
                    <div>
                        <strong>Web Application Developer (Internship)</strong>, BEAM Enterprise
                    </div>
                    <div>
                        Develop and integrate web analytic to website
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 list-topic">
                    April 2009 - January 2011
                </div>
                <div class="col-md-8">
                    <div>
                        <strong>Freelance Programmer</strong>
                    </div>
                    <div>
                        Develop and maintain web application for clients
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>